<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>

    <div class="page-layout">
        <div class="header">
            <div class="container">
                <div class="logo">
                    <a href="/">
                        <span class="logo__name">Vadim Drozdov</span>
                        <span class="logo__info">law office</span>
                    </a>
                </div>

                <div class="header-aside">
                    <div class="lang-select">
                        <button class="lang-select__active" type="button">
                            @(Context.Request.Cookies["lang"] == "en" ? "English" : "Русский")
                        </button>
                        <ul class="lang-select__options">
                            <li><a href="/language/set?lang=ru">Русский</a></li>
                            <li><a href="/language/set?lang=en">English</a></li>
                        </ul>
                    </div>
                    <button class="header-nav-icon" type="button"></button>
                </div>

                <div class="header-nav">
                    <div class="logo">
                        <a href="/">
                            <span class="logo__name">Vadim Drozdov</span>
                            <span class="logo__info">law office</span>
                        </a>
                    </div>
                    <div class="container">
                        <button class="header-nav-icon" type="button"></button>
                        <div class="header-nav__mid">
                            <nav class="header-nav__links">
                                <ul>
                                    <li><a href="/case/list">Кейсы</a></li>
                                    <li><a href="/#">Вакансии</a></li>
                                    <li><a href="/#">Услуги</a></li>
                                    <li><a href="/#">Кто мы</a></li>
                                    <li><a href="/#">Задать вопрос</a></li>
                                    <li><a href="/#">Контакты</a></li>
                                </ul>
                            </nav>
                            <div class="soc-icons">
                                <a href="#" class="soc-icon soc-icon__fb">Facebook</a>
                                <a href="#" class="soc-icon soc-icon__instag">Instagram</a>
                                <a href="#" class="soc-icon soc-icon__linked">Linkedin</a>
                                <a href="#" class="soc-icon soc-icon__tw">Twitter</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="content">
            @RenderBody()
        </div>

        <div class="footer">
            <div class="container">
                <div class="footer__top">
                    <nav class="footer__nav">
                        <ul>
                            <li><a href="/case/list">Кейсы</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Задать вопрос</a></li>
                            <li><a href="#">Вакансии</a></li>
                            <li><a href="#">Кто мы</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </nav>
                    <div class="lang-select">
                        <button class="lang-select__active" type="button">
                            @(Context.Request.Cookies["lang"] == "en" ? "English" : "Русский")
                        </button>
                        <ul class="lang-select__options">
                            <li><a href="/language/set?lang=ru">Русский</a></li>
                            <li><a href="/language/set?lang=en">English</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__email">
                    <a href="mailto:info@vadimdrozdov.ch">info@vadimdrozdov.ch</a>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="e-copy">&copy; Company NoName 1996-2020</div>
                <a href="#" class="e-design">Разработка дизайна ― компания PRAS</a>
            </div>
        </div>
    </div>

    <script src="~/js/scripts.js"></script>
</body>
</html>
